Proyectos ASP.NET/MahikariTai ALL/MahikariTaiProyect/MahikariTaiV2/Connected Services/SR_DB/DataBase_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AllMembers">
        <s:complexType />
      </s:element>
      <s:element name="AllMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllMembersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AñadirMiembro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nacionalidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comuna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hobbies" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AñadirMiembroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AñadirMiembroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AñadirKenshu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateIni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateInt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateSup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AñadirKenshuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AñadirKenshuResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarMiembro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nacionalidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comuna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hobbies" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarMiembroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificarMiembroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarMiembro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarMiembroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarMiembroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Nacionalidades">
        <s:complexType />
      </s:element>
      <s:element name="NacionalidadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NacionalidadesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Generos">
        <s:complexType />
      </s:element>
      <s:element name="GenerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Categorias">
        <s:complexType />
      </s:element>
      <s:element name="CategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AllMembersSoapIn">
    <wsdl:part name="parameters" element="tns:AllMembers" />
  </wsdl:message>
  <wsdl:message name="AllMembersSoapOut">
    <wsdl:part name="parameters" element="tns:AllMembersResponse" />
  </wsdl:message>
  <wsdl:message name="AllInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AllInfo" />
  </wsdl:message>
  <wsdl:message name="AllInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AllInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AñadirMiembroSoapIn">
    <wsdl:part name="parameters" element="tns:AñadirMiembro" />
  </wsdl:message>
  <wsdl:message name="AñadirMiembroSoapOut">
    <wsdl:part name="parameters" element="tns:AñadirMiembroResponse" />
  </wsdl:message>
  <wsdl:message name="AñadirKenshuSoapIn">
    <wsdl:part name="parameters" element="tns:AñadirKenshu" />
  </wsdl:message>
  <wsdl:message name="AñadirKenshuSoapOut">
    <wsdl:part name="parameters" element="tns:AñadirKenshuResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarMiembroSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarMiembro" />
  </wsdl:message>
  <wsdl:message name="ModificarMiembroSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarMiembroResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarMiembroSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarMiembro" />
  </wsdl:message>
  <wsdl:message name="EliminarMiembroSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarMiembroResponse" />
  </wsdl:message>
  <wsdl:message name="NacionalidadesSoapIn">
    <wsdl:part name="parameters" element="tns:Nacionalidades" />
  </wsdl:message>
  <wsdl:message name="NacionalidadesSoapOut">
    <wsdl:part name="parameters" element="tns:NacionalidadesResponse" />
  </wsdl:message>
  <wsdl:message name="GenerosSoapIn">
    <wsdl:part name="parameters" element="tns:Generos" />
  </wsdl:message>
  <wsdl:message name="GenerosSoapOut">
    <wsdl:part name="parameters" element="tns:GenerosResponse" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:Categorias" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:CategoriasResponse" />
  </wsdl:message>
  <wsdl:portType name="DataBase_WSSoap">
    <wsdl:operation name="AllMembers">
      <wsdl:input message="tns:AllMembersSoapIn" />
      <wsdl:output message="tns:AllMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllInfo">
      <wsdl:input message="tns:AllInfoSoapIn" />
      <wsdl:output message="tns:AllInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AñadirMiembro">
      <wsdl:input message="tns:AñadirMiembroSoapIn" />
      <wsdl:output message="tns:AñadirMiembroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AñadirKenshu">
      <wsdl:input message="tns:AñadirKenshuSoapIn" />
      <wsdl:output message="tns:AñadirKenshuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarMiembro">
      <wsdl:input message="tns:ModificarMiembroSoapIn" />
      <wsdl:output message="tns:ModificarMiembroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMiembro">
      <wsdl:input message="tns:EliminarMiembroSoapIn" />
      <wsdl:output message="tns:EliminarMiembroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Nacionalidades">
      <wsdl:input message="tns:NacionalidadesSoapIn" />
      <wsdl:output message="tns:NacionalidadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Generos">
      <wsdl:input message="tns:GenerosSoapIn" />
      <wsdl:output message="tns:GenerosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <wsdl:input message="tns:CategoriasSoapIn" />
      <wsdl:output message="tns:CategoriasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataBase_WSSoap" type="tns:DataBase_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllMembers">
      <soap:operation soapAction="http://tempuri.org/AllMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllInfo">
      <soap:operation soapAction="http://tempuri.org/AllInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AñadirMiembro">
      <soap:operation soapAction="http://tempuri.org/AñadirMiembro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AñadirKenshu">
      <soap:operation soapAction="http://tempuri.org/AñadirKenshu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarMiembro">
      <soap:operation soapAction="http://tempuri.org/ModificarMiembro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMiembro">
      <soap:operation soapAction="http://tempuri.org/EliminarMiembro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nacionalidades">
      <soap:operation soapAction="http://tempuri.org/Nacionalidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generos">
      <soap:operation soapAction="http://tempuri.org/Generos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap:operation soapAction="http://tempuri.org/Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataBase_WSSoap12" type="tns:DataBase_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllMembers">
      <soap12:operation soapAction="http://tempuri.org/AllMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllInfo">
      <soap12:operation soapAction="http://tempuri.org/AllInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AñadirMiembro">
      <soap12:operation soapAction="http://tempuri.org/AñadirMiembro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AñadirKenshu">
      <soap12:operation soapAction="http://tempuri.org/AñadirKenshu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarMiembro">
      <soap12:operation soapAction="http://tempuri.org/ModificarMiembro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMiembro">
      <soap12:operation soapAction="http://tempuri.org/EliminarMiembro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nacionalidades">
      <soap12:operation soapAction="http://tempuri.org/Nacionalidades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generos">
      <soap12:operation soapAction="http://tempuri.org/Generos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap12:operation soapAction="http://tempuri.org/Categorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataBase_WS">
    <wsdl:port name="DataBase_WSSoap" binding="tns:DataBase_WSSoap">
      <soap:address location="https://localhost:44317/DataBase_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="DataBase_WSSoap12" binding="tns:DataBase_WSSoap12">
      <soap12:address location="https://localhost:44317/DataBase_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>